@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.table-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-spacing: 0;
    border: 1px solid #DFDFDF;
    color: black;
    font-family: 'Helvetica Neue';
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;

}

td {
    background-color: rgb(255, 255, 255);
}


th {
    background-color: #0500FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.54px;
    padding: 14px 32px;
    color: white;
    text-align: left;

}

td {
    background-color: rgb(255, 255, 255);
    padding: 8px 33px 7px 32px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    color: #1C1C1C;
}


.table-container td img {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

.table-container td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}