@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.table-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-spacing: 0;
    border: 1px solid #DFDFDF;
    color: black;
    font-family: 'Helvetica Neue';
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

td {
    background-color: rgb(255, 255, 255);
}


th {
    background-color: #0500FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.54px;
    padding: 14px 32px;
    color: white;
    text-align: left;

}

td {
    background-color: rgb(255, 255, 255);
    padding: 8px 33px 7px 32px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    color: #1C1C1C;
}

.table-container td img {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

.table-container td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.action-column {
    text-align: center;
    display: none;
    vertical-align: middle;
}

.action-column .material-icons {
    font-size: 32px;
    color: #0500FF;
    cursor: pointer;
    background-color: white;
}

.dropdown-content {
    padding: 0px 10px;
}

.dropdown-detail {
    padding: 11.5px 0px 31px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}

.table-container tr.selected-row td {
    border-bottom: none;
}


.dropdown-detail-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    background-color: white;
}

.dropdown-detail-item h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.54px;
    color: #1C1C1C;
    background-color: white;
}

.dropdown-detail-item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    color: #1C1C1C;
    background-color: white;

}


@media (max-width: 1250px) {
    .container {
        margin: 0px 32px;
    }
}


@media (max-width: 900px) {
    td {
        padding: 10px 20px;
    }

    th {
        padding: 14px 20px;
    }
}

@media (max-width: 760px) {
    td {
        padding: 15px 10px;
        font-size: 15px;
    }

    th {
        padding: 10px;
        font-size: 15px;
    }

    .container {
        margin: 0px 20px;
    }
}



@media (max-width: 610px) {

    .table-container th:nth-child(4),
    .table-container td:nth-child(4),
    .table-container th:nth-child(5),
    .table-container td:nth-child(5) {
        display: none;
    }

    .action-column {
        display: table-cell;
    }

    th {
        padding: 14px;
        font-size: 15px;
    }
}

@media (max-width: 375px) {

    .table-container th:nth-child(3),
    .table-container td:nth-child(3),
    .table-container th:nth-child(4) {
        display: none;
    }



    .action-column {
        display: table-cell;
    }

    th {
        padding: 14px;
        font-size: 15px;
        text-align: left;
    }

    td {
        padding-left: 16px;
    }

    .table-container td,
    .table-container th {
        padding: 8px 10px;
    }

}

@media (max-width: 320px) {
    .dropdown-detail-item h2 {
        font-size: 14px;
    }

    .dropdown-detail-item span {
        font-size: 14px;
    }

}