@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.tituloPesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: 'Helvetica Neue';
}

.titulo {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.42px;
}

.inputPesquisa {
    padding: 14.5px 19.51px 14.5px 16px;
    background-color: white;
    width: 287px;
    height: 48px;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    color: black;
    padding-right: 40px;
    font-size: 16px;
    box-sizing: border-box;

}

.inputPesquisa::placeholder {
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
}

.pesquisa-container {
    position: relative;
}

.pesquisa-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #DFDFDF;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}

@media (max-width: 500px) {
    .tituloPesquisa {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        margin-bottom: 20px;
    }

    .titulo {
        margin-bottom: 24px;
    }

    .inputPesquisa {
        width: 100%;
        max-width: none;
    }
}